%p#notice= notice

%p
  %b Name:
  = @season.name
%p
  %b Start:
  = @season.start_date
%p
  %b End:
  = @season.end_date

= link_to 'Edit', edit_season_path(@season)
\|
= link_to 'Back', seasons_path
