%h1 Manage Judges

%table.gridtable
  %tr
    %th Name
    %th Company
    %th

  - @judges.each do |judge|
    %tr
      %td= judge.name
      %td= judge.company
      %td
        = link_to 'Show', judge
        \|
        = link_to 'Edit', edit_judge_path(judge)
        \|
        = link_to 'Destroy', judge, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Judge', new_judge_path
