%h3 LUCITE ADMINISTRATION SYSTEM

= form_tag(set_working_season_path(@working_season)) do
  Current Season: 
  = select_tag "working-season", options_from_collection_for_select(Season.all, 'id', 'name'), :onchange => "this.form.submit();" 

%ul 
  %li= link_to "Manage Member Companies", member_companies_path
  %li= link_to "Manage Judges", judges_path
  %li= link_to "Manage Shows", shows_path
  %li= link_to "Manage Ballots"
  %li= link_to "Manage Seasons"
  %li= link_to "Tabulation"
