%h3 LUCITE ADMINISTRATION SYSTEM

= form_tag(set_working_seasons_path) do
  Current Season: 
  = select_tag "working_season_id", options_from_collection_for_select(available_seasons, 'id', 'name', session[:working_season_id]), :onchange => "this.form.submit();"
  
%ul 
  %li= link_to "Manage Member Companies", member_companies_path
  %li= link_to "Manage Judges", judges_path
  %li= link_to "Manage Shows", shows_path
  %li= link_to "Manage Ballots"
  %li= link_to "Manage Seasons", seasons_path
  %li= link_to "Tabulation"
