.field
  = f.label :street_address
  = f.text_field :street_address, :size => 40
.field
  = f.label :city
  = f.text_field :city
.field
  = f.label :state
  = f.text_field :state, :size => 3
.field
  = f.label :zip
  = f.text_field :zip, :size => 10
  