= semantic_form_for @adjudicator do |f|
  -if @adjudicator.errors.any?
    #error_explanation
      %h2= "#{pluralize(@adjudicator.errors.count, "error")} prohibited this adjudicator from being saved:"
      %ul
        - @adjudicator.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :company
    = f.collection_select :company, MemberCompany.all, :code, :name 
  .actions
    = f.submit 'Save'
