= semantic_form_for @adjudicator do |f|
  -if @adjudicator.errors.any?
    #error_explanation
      %h2= "#{pluralize(@adjudicator.errors.count, "error")} prohibited this adjudicator from being saved:"
      %ul
        - @adjudicator.errors.full_messages.each do |msg|
          %li= msg
  = f.inputs do
    = f.input :name, :input_html => { :size => 50 }
    = f.input :email, :input_html => { :size => 50 }
    = f.input :member_company, :as => :select, :collection => member_companies
    = f.input :adjudicator_number, :as => :select, :collection => adjudicator_numbers
  = f.buttons

