%p#notice= notice

%p
  %b Name:
  = @adjudicator.name
%p
  %b Email:
  = @adjudicator.email
%p
  %b Member Company:
  = @adjudicator.member_company.name
%p
  %b Adjudicator Number:
  = @adjudicator.adjudicator_number

= link_to 'Edit', edit_adjudicator_path(@adjudicator)
\|
= link_to 'Back', adjudicators_path
