= semantic_form_for @show do |f|
  -if @show.errors.any?
    #error_explanation
      %h2= "#{pluralize(@show.errors.count, "error")} prohibited this show from being saved:"
      %ul
        - @show.errors.full_messages.each do |msg|
          %li= msg
  = f.inputs do
    = f.input :name, :input_html => { :size => 50 }
    = f.input :season, :as => :select, :collection => available_seasons
    = f.input :type, :as => :select, :collection => show_types
    = f.input :company, :as => :select, :collection => member_companies
  = f.buttons
