%p#notice= notice

%p
  %b Name:
  = @show.name
%p
  %b Company:
  = @show.member_company.name
%p
  %b Season:
  = @show.season.name
%p
  %b Type:
  = @show.type

= link_to 'Edit', edit_show_path(@show)
\|
= link_to 'Back', shows_path
